:root {
  //--base-font: 'DiodrumArabic-Regular', sans-serif;
  //--heading-font: 'DiodrumArabic-Semibold', sans-serif;

  --fs-base: 16px;
  --base-line-height: 1.666;
  --fraction: 1.333;

  --fs-small: calc(var(--fs-base) / var(--fraction));
  --fs-tiny: calc(var(--fs-small) / var(--fraction));
  --fs-medium: calc(var(--fs-base) * var(--fraction));
  --fs-large: calc(var(--fs-medium) * var(--fraction));
  --fs-xlarge: calc(var(--fs-large) * var(--fraction));
  --fs-xxlarge: calc(var(--fs-xlarge) * var(--fraction));
  --fs-huge: calc(var(--fs-xxlarge) * var(--fraction));
}

body {
  background: var(--white);
  color: var(--gray);
  font-family: var(--base-font);
  font-size: var(--fs-base);
  line-height: var(--base-line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: var(--brand); }

small { font-size: var(--fs-small); }
.tiny { font-size: var(--fs-tiny); }
.muted { opacity: 0.4; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand);
  font-family: var(--heading-font); // style
  line-height: var(--base-line-height);
  text-transform: uppercase; // style
  font-weight: 500; // style
}

h1 {
  font-size: var(--fs-huge); // 48px
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-xxlarge); // 36px
  line-height: 1.2;
}

h3 {
  font-size: var(--fs-xlarge); // 32px
  line-height: 1.2;
}

h4 {
  font-size: var(--fs-medium); // 24px
  line-height: 1.2;
}

h5,
h6 {
  font-size: var(--fs-base); // 20px
}

h6 {
  font-size: var(--fs-base); // 16px
  text-transform: none;
  font-weight: bold;
}

ul,
ol {
  list-style-position: inside;

  li { margin-bottom: 0.5em; }
}

blockquote {
  //font-family: var(--heading-font);
  font-size: var(--fs-large);
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
}
